@import url('https: //fonts.google.com/specimen/Playfair+Display')

:root {
    --primary-color: rgb(189, 176, 230);
    --secondary-color: rgb(215, 107, 179);
    --accent1-color: rgb(139, 185, 232);
    --accent2-color: rgb(176, 194, 141);

    --heading-font: XXX, serif;
    --paragraph-font: XXX, serif;

    --nav-background-color: rgb(232, 175, 119);
    --nav-link-color: rgb(96, 157, 218);
    --nav-hover-link-color: rgb(160, 192, 160);
    --nav-hover-background-color: rgb(231, 164, 225);
}

body {
    font-family: var(--paragraph-font) ;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

heading {
    padding: 20px;
    background-color: var(--accent1-color) ;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color) ;
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color) ;
}

nav a:hover {
    color: var(--nav-hover-background-color) ;
    background-color: var(--nav-hover-background-color) ;
}