nav {
    background-color: steelblue padding 10px;
}

nav a {
    color: rgb(221, 105, 105);
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(104, 164, 213);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(118, 167, 207);
    padding: 2px;
    box-shadow: 0 0 30px rgb(232, 137, 137);
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem margin 1rem;
    border: 1px solid rgb(210, 102, 102);
    padding: 1rem;
    background-color: rgb(69, 158, 175);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid rgb(159, 197, 151);
    text-align: center;
}